@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}
html,
body { font-family: "Poppins", sans-serif;  margin: 0;  padding: 0;  min-height: 100vh;}
.loginSection {position: relative;display: flex;align-items: center;justify-content: center;width: 100%; min-height: 100vh;  
}

.loginSection::after {content:'';position:absolute;left:0;bottom:0;width:100%;height:100%;background:url('../image/footer-one-bg-1.svg') no-repeat center bottom;  background-size: contain;  background-blend-mode: lighten;  opacity: 1;  z-index: 0;}
.loginSection::before {content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 100%;background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #FFE6BC 100%); 
z-index: 0;} 
.loginSection.sign-up::before {content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 100%;background: linear-gradient(180deg, #FFE6BC 0%, rgba(217, 217, 217, 0) 148.24%);
z-index: 0;}   
.loginSection.sign-up{padding: 40px 0px;}                                                                                  
                                                                                                        

.login-box {position: relative;  width: 550px;  z-index: 1;  text-align: center;}

.login-box h3 {font-size: 32px;  font-weight: 600;  color: #000;  margin: 36px 0px 40px;  line-height: 32px;}

form { background-color: #fff;  border-radius: 8px;  padding: 36px;  box-shadow: 0px 4px 4px 0px #0000001A;  border: 1px solid #8A8A8A;  text-align: left;}
label {font-size: 16px;    line-height: 20px;    color: #696969;    display: block;    margin-bottom: 10px;}
input {  width: 100%;  min-height: 50px;  padding: 16px 16px;  border: 1px solid #D7D7D7;  border-radius: 6px;  font-size: 14px;  margin-bottom: 20px;  outline: none;  transition: 0.2s;}
input:focus {
  border-color: #f9a825;  box-shadow: 0 0 4px rgba(249, 168, 37, 0.3);}
.form-control{position: relative;}
.mt-0{margin-top: 0px !important;}
.mb-0{margin-bottom: 0px !important;}
.mb-12{margin-bottom: 12px;}
.mt-30{margin-top: 30px;}
.options {  text-align: right;   line-height: 12px;}
.toggle{cursor: pointer;position: relative;}
.toggle::before { content: '/';    position: absolute;    left: 8px;    top: 0px;}
.options a {    color: #2386FF;    font-size: 12px;    text-decoration: none;}
.form-control span { position: absolute;    height: 23px;    right: 16px;    top: 50%;    transform: translateY(-50%);}

.btn {  width: 100%;  background: #F6A623;  color: #fff;  padding: 14px;  border: none;  box-shadow: 0px 4px 6px 0px #F6A62340;  border-radius: 6px;  font-size: 16px;  line-height: 22px;  cursor: pointer;  transition: background 0.3s;}
.btn:hover {background: #e19b00;}
.signup {  text-align: center;    font-size: 12px;    color: #4E4E4E;    margin-top: 14px;}
.signup a {color: #2386FF; font-weight: 600; text-decoration: none;}
.signup a:hover {  text-decoration: underline;}


/* sign up css  */
.c-d-flex{ display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.checkBox {  display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkBox label{ display: flex;  align-items: flex-start;font-size: 12px;color: #696969;}
.checkBoxInput{width: 16px;height: 16px;min-height: unset;margin-bottom: 0px;margin-right: 8px;}
.checkBox label a{font-size: 12px;color: #2386FF;text-decoration: none;}

/*  responsive css here  */

@media only screen and (max-width: 767px) {
    .logo img{max-width: 240px;}
    .login-box h3 {font-size: 28px; margin: 16px 0px 20px; line-height: 32px;}
    form {padding: 28px;}
    input { min-height: 38px; padding: 14px 16px;}
    .btn {padding: 11px;}
}
@media only screen and (max-width: 600px) {
    .login-box { max-width: 500px;width: 90%;}
    .logo img{max-width: 200px;}
    .login-box h3 {font-size: 24px;}
}
@media only screen and (max-width: 376px) {
 .login-box { width: 95%;}
 .c-d-flex {  flex-direction: column-reverse;}
 .options {width: 100%; margin-bottom: 15px; display: block; text-align: right; line-height: 12px;}
}

