.loginSection {
  position: relative;
  background: url('/images/loginBgImg.png') no-repeat center center;
  background-size: cover;
}

.loginSection::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url('/images/footer-one-bg1.svg') no-repeat center bottom;
  background-size: cover;
  background-blend-mode: lighten;
  opacity: 1;
  z-index: 0;
}

.loginSection::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #FFE6BC 100%);
  z-index: 0;
}

/* Ensure content is above the background layers */
.loginSection > * {
  position: relative;
  z-index: 1;
}
